.foot{
    max-width: 100%;
    display: grid;
    height: 25vw;
    /* background-color: #869b5b; */
    background: #ffd86a;
    position: relative;
    top: 30rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
    /* animation: footer-back-color 10s infinite ease-in-out; */
}

.brandname{
    font-size: 8vw;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    position: relative;
    /* color: #b46d10; */
    top: 5rem;
    left: 2rem;
    grid-row: 1 / span3;
    background: #0000004a;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    height: fit-content;
    /* animation: brand-color 10s infinite  ease; */
}
@keyframes brand-color {
    0%{
        background: linear-gradient(to right, #dd528d, #ff8c79, #fbae52);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    50%{
        background:  linear-gradient(to right, #6d440f, #7d4c0c,#bf7419);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    100%{
        background: linear-gradient(to right, #f47595, #b15a9a,#643ba2);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}
.footerdesc{
    
    font-size: 1.5vw;
    position: relative;
    /* left: 5rem; */
    /* right: 5%; */
    top: 14rem;
    color: #232F3E;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    height: fit-content;
}
.followus{
    max-width: fit-content;
    font-size: 2vw;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    position: relative;
    left: 0rem;
    top: 12rem;
    display: flex;
    color: #232F3E;
    cursor: pointer;
}
@media screen and (min-width:1025px) {
    @media screen and (max-width:1200px) {
        html{font-size: 21%;}
        /* .foot{
            max-width: 100%;
            display: grid;
            height: 55rem;
          
            background: #ffd86a;
            position: relative;
            top: 30rem;
            grid-template-columns: 50% 50%;
            grid-template-rows: max-content;
            
        } */
        
        .brandname{
            font-size: 6vw;
            font-family: "Exo 2", sans-serif;
            font-optical-sizing: auto;
            font-weight: 900;
            position: relative;
            /* color: #b46d10; */
            top: 5rem;
            left: 2rem;
            grid-row: 1 / span3;
            background: #0000004a;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            height: fit-content;
            /* animation: brand-color 10s infinite  ease; */
        }
        @keyframes brand-color {
            0%{
                background: linear-gradient(to right, #dd528d, #ff8c79, #fbae52);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
            50%{
                background:  linear-gradient(to right, #6d440f, #7d4c0c,#bf7419);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
            100%{
                background: linear-gradient(to right, #f47595, #b15a9a,#643ba2);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
        .footerdesc{
            
            font-size: 1.5vw;
            position: relative;
            /* left: 5rem; */
            /* right: 5%; */
            top: 14rem;
            color: #232F3E;
            font-family: "Exo 2", sans-serif;
            font-optical-sizing: auto;
            height: fit-content;
        }
        .followus{
            max-width: fit-content;
            font-size: 2vw;
            font-family: "Exo 2", sans-serif;
            font-optical-sizing: auto;
            position: relative;
            left: 0rem;
            top: 12rem;
            display: flex;
            color: #232F3E;
            cursor: pointer;
        }
    }}

@media screen and (min-width:700px) {
    @media screen and (max-width:1024px) {
        html{
            font-size: 21%;
        }
        .foot{
            height: 30vw;
        }
        .brandname{
            font-size: 8vw;
            left: 10rem;
        }
        .footerdesc{
            /* max-width: 65%; */
            font-size: 2.5vw;
            top: 15rem;
            /* left: 75rem;
            top: -25rem; */
        }
        .followus{
            max-width: fit-content;
            font-size: 2.2vw;
            left: 0rem;
        }

    }
}


@media screen and (min-width:480px) {
    @media screen and (max-width:700px) {
        html{
            font-size: 19.5%;
        }
        .foot{
            height: 65rem;
        }
        .brandname{
            font-size: 9vw;
            top: 7rem;
            left: 10rem;
        }
        .footerdesc{
            /* max-width: 65%; */
            font-size: 2.5vw;
            top: 15rem;
            /* left: 75rem;
            top: -25rem; */
        }
        .followus{
            max-width: fit-content;
            font-size: 2.5vw;
            left: 0rem;
        }
    }}
    
@media screen and (min-width:300px) {
    @media screen and (max-width:480px) {
        .foot{
            display: flex;
            flex-direction: column;
            height: 60vw;
        }
        .brandname{
            left: 2.5vw;
        }
        .followus{
           font-size: 5vw;
           left: 2.5vw;
        }
        .footerdesc{
            font-size: 4vw;
            padding: 2.5vw;
            box-sizing: border-box;
        }
    }
}