@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
.head-cont{
    display: flex;
    max-width: 100%;
    height: 100vh;
    position: relative;
    top: 5.5rem;
    overflow: hidden;
}
.destination-cover{display: none;}
.search{
    display: flex;
    position: relative;
    top: 5rem;
    width: 100%;
    height: 20rem;
    align-items: center;
    justify-content: space-evenly;
    animation: search 1s 1 ease;
}
.checkedoutimg{
    width: 80vw;
  
    height: 40vh;
    top: 25vh;
    background-color: white;
    display: flex;
    box-shadow: 1vw 1vw 3vw;
}


.checkedoutimg h2{
    font-size: 3vw;
    margin: 20px;
    font-family: 'Exo 2';
    color: #232F3E;
}
.checkedoutimg section{
    font-size: 2vw;
    margin: 20px;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    color: #232F3E;
}
.checkedoutimg img{
    height: 100%;
    width: 40%;
}
#checkoutclose{
    position: relative;
    /* left: 85%; */
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2vw;
    background-color: #ffd86a;
    color: #232F3E;
    border: none;
    margin-left: 90%;
}
#closetripcheck{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    position: absolute;
    z-index: 4;
    top: -1%;
    left: 90%;
    font-size: 1.2vw;
    background-color: #ffd86a;
    color: #232F3E;
    border: none;
}
@keyframes search {
    from{
        top: -5vw;
    }
    to{
        top: 5rem;
    }
}
.searchbar{
    position: relative;
    /* margin: 0rem 31.5rem; */
    width: 35vw;
    padding: 0rem 2rem;
    height: 6rem;
    font-size: 1.5vw;
    border-radius: 3rem;
    border: none;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    box-shadow: 0rem 0rem 2rem;
    outline: none;
}


.place-name{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0rem;
    font-size: 15rem;
    padding-left: 0rem;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    /* box-shadow: 1vw 1vw 5vw; */
}
.place-name::-webkit-scrollbar{
    display: none;
}
.place-name::-webkit-scrollbar-track{
    border-radius: 4vw;
    height: 2vw;
    background: linear-gradient(to right, black,red);
}
.fillup-img{
    width: 50%;
    height: 45vh;
    margin: 0rem 58rem;
    position: absolute;
    top: 28rem;
    border-radius: 3rem;
    box-shadow: 0rem 0rem 1rem;
}
.fillup-img img{
    border-radius: 3rem;
}
#search{
    margin-left: -20vw;
    border-radius: 3rem;
    border: none;
    background-color: white;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    box-shadow: 0rem 0rem 1rem;
    height: 5rem;
    width: 10vw;
    cursor: pointer;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    
}
@keyframes searchanime {
    0%{}
    100%{
        transform: scale3d(0.9,0.9,0.9);
    }
}
.place-name h3{
    margin: 0rem;
    font-size: 3.5vw;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    color: #232F3E;
    text-align: center;

}
.img-cont{
   
    position: relative;
    width: 100%;
    height: 100vh;
}
.img-cont img{
    width: 100%;
    height: 100%;
}
.navbar-ul{
    box-shadow: 0rem 0rem 2rem ;
}
.images-container{
    width: 100%;
    height: 75vh;
    left: 0%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: imagescont 1s 1 ease;

    .loc-img{
        width: 16vw;
        height: 45%;
        box-shadow: 0rem 0rem 1rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
        border-radius: 1rem;
        transition-duration: 0.2s;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
        background-color: whitesmoke;
    }
    .loc-img:hover{
        width: 16.1vw;
        height: 41%;
    }
    .loc-img img{
        margin-top: 0.5vw;
        width: 95%;
        height: 85%;
        border-radius: 1rem;
    }
    .insta-model li{
        font-size: 2rem;
        font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
        margin: 1rem;
       
    }
  
    }
  @keyframes imagescont {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }  
.ourservices{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10rem;
    height: 40vw;
    font-size: 2vw;
    margin-bottom: 5rem;
}
.ourservicesh2{
    color:#232F3E;
    max-width: 100%;
    display: flex;
    position: relative;
    top: 5rem;
    height: 8vh;
    font-size: 2.5vw;
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.4rem;
    /* animation: head-color 8s infinite reverse ease; */
  
}
.ourservicesh2 h2{
    margin: 0rem;
    width: 100%;
    text-align: center;
}
.service-nav{
    display: none;
}
.ourservices-slide{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.service-cont{
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 1rem 1rem 2rem #232F3E;
    animation: servicecont 1s 1 ease;
}
@keyframes servicecont {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.service-cont p{
    font-size: 1.3vw;
    position: relative;
    text-align: center;
    color: #232F3E;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    /* animation: head-color 8s infinite reverse ease; */
    top: 0%;
}
.service-cont::-webkit-scrollbar{display: none;}
.service-cont h4{
    /* background-color: white; */
   z-index: 1;
   color:  #e4ad17;
    position: sticky;
    top: 0rem;
    margin: 0.5rem;
    text-align: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.3rem;
    /* animation: head-color 8s infinite reverse ease; */
}

.hotel{
    width: 90%;
    height: 20%;
    background-color: aliceblue;
    margin: 3% 5%;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-Shadow:0rem 0rem 3rem;
}
.hotelimg{
    width: 30%;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 3rem;
}
.hotelimg img{
    height: 100%;
    width: 100%;
}
.hotelname{
    word-wrap: break-word;
    width: 60%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.1rem;
    padding: 2%;
    font-size: 3rem;
    font-weight: 800;
    left: 1rem;
    text-align: left;
}
.hotels{
    width: 90%;
    height: 28%;
    background-color: aliceblue;
    margin: 3% 5%;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0rem 0rem 3rem;
}
.restaurant{
    width: 90%;
    height: 28%;
    background-color: aliceblue;
    margin: 3% 5%;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0rem 0rem 3rem;
}
.restimg{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    border-radius: 3rem;
    list-style: none;
    margin-left: -0.5rem;
}
.restimg img{
    height: 100%;
    width: 100%;
    border-radius: 3rem 0rem 0rem 3rem;
    
}

.hotelname{
    word-wrap: break-word;
    width: 70%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.1rem;
    padding: 2%;
    font-size: 3rem;
  
}
.hotelprice{
    word-wrap: break-word;
    width: 70%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.1rem;
    padding: 2%;
    font-size: 3rem;
  
}
#hotelload{
    height: 60%;
}
.restli{
 display: flex;
 flex-direction: column;
 width: 60%;
}
.restname{
    list-style: none;
    word-wrap: break-word;
    width: 90%;
    height: 49%;
    position: relative;
    display: flex;
    align-items: center;
  
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.1rem;
    padding: 2%;
    font-size: 3rem;
    left: 0.5rem;
    text-align: left;
    font-weight: 800;
}
#restload{
    width:90%;height:65%; margin:1% 5%;
}
.rating{
    list-style: none;
    width: 4rem;
    height: 2rem;
    position: relative;
    background-color: transparent;
    font-size: 3rem;
    top: -0.5rem;
    left: 1rem;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}
.webpage{
    left: 1rem;
    position: relative;
    top: 2rem;
    font-size: 3rem;
    list-style: none;
}
.webpage a{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    color: teal;
    text-decoration: none;
}
.propertyType{
    width: 5rem;
    background-color: transparent;
    height: 3rem;
    font-size: 2.5rem;
    position: relative;
    top: 2.2rem;
    left: -15rem;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

.tourspot{
    width: 90%;
    height: 28%;
    background-color: aliceblue;
    margin: 3% 5%;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0rem 0rem 3rem;
}
.tourspottitle{
    list-style: none;
    width: 90%;
    padding-left: 0rem;
    font-family: fantasy;
    letter-spacing: 0.2rem;
}
#touristload{
 height: 65%;
}
.wikidata{
    list-style: none;
    font-size: 3rem;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    width: 93%;
    padding-left: 5rem;
}
.wikidata a{
    text-decoration: none;
    color: teal;
}
.maps{
    font-size: 3rem;
    list-style: none;
    width: 93%;
    padding-left: 5rem;
}
.maps a{
    text-decoration: none;
    color: teal;
}
#hotels{
    width: 80%;
    margin-left: 10%;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.2vw;
    font-weight: 600;
    font-size: 1.3vw;
    border: none;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #111154;
    color: #232F3E;
cursor: pointer;
position: relative;
top: 0rem;
background: #ffdc7c;
transition-duration: 0.5s;
}
#hotels:hover{transform: scale3d(1.01, 1.01, 1.01);
    background: linear-gradient(45deg, transparent,#ffd86a);
    transition-duration: 0.5s;
}
#inputdates{
    width: 90%;
    height: 5rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.enterdate{
    height: 4rem;
    font-size: 1vw;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: #232F3E;
}
#details{
    width: 80%;
    margin-left: 10%;
    font-family: "Exo 2", sans-serif;
    letter-spacing: 0.2vw;
    font-weight: 600;
    font-optical-sizing: auto;
    font-size: 1.3vw;
    border: none;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color: #111154  ;
    color: #232F3E;
cursor: pointer;
position: relative;
top: 0rem;
background: #ffdc7c;
transition-duration: 0.5s;

}
#details:hover{transform: scale3d(1.01, 1.01, 1.01);
    background: linear-gradient(45deg, transparent,#ffd86a);
    transition-duration: 0.5s;}
#rests{
    width: 80%;
    margin-left: 10%;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    letter-spacing: 0.2vw;
    font-size: 1.3vw;
    border: none;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem black;
    background-color:#111154;
    color: #232F3E;
cursor: pointer;
background: #ffdc7c;
transition-duration: 0.5s;
}
#rests:hover{transform: scale3d(1.01, 1.01, 1.01);
    background: linear-gradient(45deg, transparent,#ffd86a);
    transition-duration: 0.5s;}

.guide-cont{
    position: relative;
    top: 15rem;
    max-width: 95%;
    height: 40vh;
    margin: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    /* background-color: #00000040; */
    margin-bottom: 5rem;
    /* box-shadow: 0vw -1vw 2vw inset; */
    border-radius: 1vw;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    animation: guidecont 1s 1 ease;
}
@keyframes guidecont {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.guide-cont h3{
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
    font-family: math;
    position: sticky;
    left: 0rem;
    color: #232F3E;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.2vw;

    /* animation: head-color 8s infinite reverse ease; */
}

@keyframes head-color {
    0%{
        background: linear-gradient(45deg,black, #ffd86a);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    50%{
        background:  linear-gradient(-45deg,black, #ffd86a);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    100%{
        background: linear-gradient(45deg,black,#ffd86a);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}


.guide-cont::-webkit-scrollbar{
   display: none;
}
.guideslide{
    height: 80%;
    margin-top: 1%;
    width: 190%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 1%;
}
.guideslide li{
    width: 30rem;
    background-color: white;
    /* border: 1px solid; */
    height: 100%;
    list-style: none;
    cursor: pointer;
}
.guides{
    border-radius: 1VW;
    scroll-snap-align: center;
    

}
.guides:hover{
    BOX-SHADOW: 0vw 0vw 1vw;
    transition-duration: 0.4s;
}
.guide-img{
    width: 95%;
    height: 70%;
    margin:0% 2.5%;
}
.guidename{
    width: 95%;
    height: 1.5vw;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    /* font-size: 2rem; */
    text-align: center;
    margin: 0% 2.5%;
    font-size:1.5vw;
    font-weight: 700;
    color: #232F3E;
}
.exp{
    height: 1.4vw;
    font-size: 1vw;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    width: 95%;
    margin: 0% 2.5%;
    color: #232F3E;
    text-align: center;
}
.guide-price{
    height: 1.5vw;
    font-size: 1.2vw;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    width: 95%;
    margin: 0% 2.5%;
    text-align: center;
    color: #232F3E;
}
.hotel-guide-cont{
    font-size: 1vw;
}

.locmap{
    width: 90%;
    height: 25vw;
    background-color: aqua;
    position: relative;
    top: 20rem;
    margin: 0% 5%;
    box-shadow: 0vw 0vw 1vw #232F3E;
}
.notfound{
    text-align: center;
    font-size: 3rem;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    position: relative;
    top: 30rem;
}

.foot{
    top: 30rem;
}

.yourtrip{
    /* margin: auto; */
    width: fit-content;
    min-height: 20rem;
    margin: 0rem 2rem;
    
    height: auto;
    position: relative;
    /* top: 7rem; */
    z-index: 2;
   /* box-shadow: 1rem 1rem 3rem; */
   border-radius: 3rem;
    background-color: white;
}
#tripname{
    width: 100%;
    height: 4rem;
    font-size: 5rem;
    list-style: none;
    text-align: center;
    font-family: math;
    position: relative;
    margin-bottom: 2rem;
}
#triphotel1::before{
    content: "🏩";
}
#tripguide1::before{
    content: "👨🏻‍💼";
}
#noofdays{
    border: none;
    font-size: 3.5rem;
    width: 15vw;
    box-shadow: 0rem 0rem 1rem inset;
    outline: none;
    border-radius: 1rem;
    text-indent: 1rem;
    height: 3.5vh;
    margin-right: 1vw;
    background-color: #232F3E;
    color: #ffd86a;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}
#checkout{
    /* position: absolute;
        left: 85%;
        top: 15.2rem; */
        font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
        width: fit-content;
        border-radius: 1rem;
        border: none;
        box-shadow: 0rem 0rem 1rem;
        background-color: #ffd86a;
        color: #232F3E;
        font-size: 1.6vw;
        height: 2.4vw;
        box-shadow: 0rem 0rem 1rem #232F3E;
}
#tourspot-selected{
    background-color: #b7ffb7;
}
#tripcheck{
    position: relative;
    height: auto;
    width: 90%;
    left: 0.5%;
    font-size: 3rem;
    font-family: math;
    margin-bottom: 1rem;
    word-wrap: break-word;
    /* background-color: antiquewhite; */
}
.total-price{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    width: fit-content;
    position: relative;
    font-size: 1.6vw;
    margin-right: 1vw;
    color: #ffd86a;
    display: flex;
    align-items: center;
    background-color: #232F3E;
    border-radius: 1rem;

    box-shadow: 0rem 0rem 2rem inset;
    
    justify-content: center;
}
.weather-initial{
    color: #ffd86a;
    position: relative;
    width: fit-content;
    height: auto;
   box-shadow: 0rem 0rem 3rem black inset;
    border-radius: 3rem;
    left: 1rem;
    opacity: 88%;
    z-index: 2;
    font-weight: 500;
}
#forecast{
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.currentweather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.currentweather:hover{
    cursor: pointer;
    #forecast{
        display: block;
    }
}
#moreinfo{
       height: 4rem;
       margin: 0% 16.5%;
    color: #ffd86a;
    border: none;
    background: transparent;
    margin-top: 0.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 1.2vw;
}
.loginconfirm{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: fantasy;
    background-color: red;
    border: 1rem solid red;
    box-sizing: border-box;
    border-radius: 5vw;
}
.tripcheck-weather-cont{
    padding: 0rem 1rem;
    display: flex;
    position: sticky;
    top: 10rem;
    align-items: center;
    justify-content: space-around;
    height: auto;
    min-height: 12vw;
width: fit-content;
z-index: 2;
color: #232F3E;
background-color: white;
margin: auto;
box-sizing: content-box;
box-shadow: 1rem 1rem 2rem;
border-radius: 3rem;
font-family: "Exo 2", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
}
.temp{
    font-size: 1.5vw;
}
.clouds{
    font-size: 1.3vw;
}
.wind{
    font-size: 1.3vw;
}
.humidity{
    font-size: 1.3vw;
}
.astronomy{
    font-size: 1.3vw;
}
.forecast{
    font-size: 1.2vw;
}
.image-slider{
    display: contents;
}

@keyframes 
design-back-color {
    0%{
        background: linear-gradient(to right, #f47595, #b15a9a,#643ba2);
       
    }
    50%{
        background:  linear-gradient(to right, #fd475e, #c4659f, #7d8afa);
        
    }
    100%{
        background: linear-gradient(to right, #dd528d, #ff8c79, #fbae52);
       
    }
}
@keyframes designdiv-color {
    0%{
        background-color: transparent;
    }
    50%{
        background-color: whitesmoke;
    }
    100%{
        background-color: transparent;
    }
}
.searchlinks{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-content: flex-end; */
    align-items: flex-start;
    /* justify-content: space-around; */
    margin: auto;
}
.searchlinks {
    /* content: attr(data-icon); */
    list-style-type: '🧳';
}
.searchlinks a {
    font-size: 1.9vw;
    /* font-family: fantasy; */
    color:#232F3E ;
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}
.searchlinks a :hover{
  color: #ffd86a;
}
.wikipagecont{
    font-size: 1.5vw;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: math;
    color: #232F3E;

  

}
.wikipagebackbtn{
    z-index: 3;
    position: sticky;
    top: 20rem;
    border-radius: 2vw;
    border: none;
    font-size: 1.2vw;
    box-shadow: 0vw 0vw 1vw;
    width: 5vw;
    margin: 0px 48vw;

}

@media screen and (min-width:700px) {
    @media screen and (max-width:1200px) {
        html{
            font-size: 21%;
        }
        .destination-cover{display: none;}
        .search{
            margin-top: 20rem;
            top: 0rem;
            
            #search{
                font-size: 2.5vw;
                height: 4.5vw;
                box-shadow: 0rem 1rem 2rem;
            }
        }
         
        .checkedoutimg img{
            width: 60%;
        }
        .checkedoutimg section{
            font-size: 2.5vw;
        }
        #checkoutclose{
            font-size: 3vw;
            margin-left: 65%;
        }#closetripcheck{
            font-size: 3vw;
            left: 90%;
        }
        .searchbar{
            height:5vw;
            font-size: 3vw;
            width: 40vw;
            border-radius: 2vw;
            box-shadow: 0rem 1rem 3rem;
           
        }
        .searchlinks{
            width: 80%;
        }
        .searchlinks a{
            font-size: 4vw;
        }
       .wikipagebackbtn{
        font-size: 3.5vw;
        width: 20vw;
        margin: 0px 40vw;
        top: 20rem;
       }
       .wikipagecont{
        font-size: 3vw;
        width: 90%;
       }
        .place-name h3{
            font-size: 6vw;
        }
        .images-container{
            height: 80vh;
            display: block;
            width: 98%;
            left: 1%;
            overflow-x: scroll;

        }
        .image-slider{
            display: flex;
            flex-wrap: wrap;
            width: 252vw;
            height: 100%;
            align-items: center;

            .loc-img{
                width:48vw ;
                height:48% ;
                /* border-radius: 2vw; */
    
    
            }
            .loc-img img{
                /* border-radius: 2vw; */
            }
            .insta-model{
                width: 95%;
                list-style: none;
                font-size: 2rem;
                display: flex;
            }
            .insta-model li {
                font-size: 6rem;
                margin: 2rem;
                font-family: cursive;
            }
    

        }
        
        #search{
            margin-left: -20vw;
            height: 3.5vw;
            font-size: 1.5vw;
            border-radius: 2vw;
        }
        .ourservices{
            height: 100vh;

        }
        .ourservicesh2{
            font-size: 4vw;
        }
        .ourservices-slide{
            flex-wrap: wrap;
        }
        .service-cont{
            height: 48%;
            width: 45%;
            border-radius: 3vw;
        }

        .service-cont h4{
            font-size: 4vw;
        }
        .place-name h3{}
      
        #inputdates{
            height: 13vw;
            margin: 0;
            width: 100%;
            flex-direction: column;
            margin-bottom: 0.5vw;
            border-radius: 10vw;
        }
        .enterdate{
            height: 5.5vw;
            font-size: 2.8vw;
            padding: 0 20px;
            margin-bottom: 0.5vw;
            border-radius: 3vw;
        }
        #hotels{
            font-size: 2.5vw;
            border-radius: 0.5vw;
        }
        #hotelload{
            height: 55%;
        }
        #hotelp{
            display: none;
        }
        #restaurant{
            display: none;
        }
        #rests{
            font-size: 2.5vw;
            position: relative;
            top: 15rem;
            border-radius: 0.5vw;
        }
        #guides{
            display: none;
        }
        #details{
            font-size: 2.5vw;
            position: relative;
            top: 15rem;
            border-radius: 0.5vw;
        }
        #touristload{
            width: 100%;
            margin: 0;

        }
        #restload{
            width: 100%;
            margin: 1% 0;

        }
        .notfound{
            font-size: 6rem;
        }
        .guide-cont{
            height: 40vw;
        }
        .guide-cont h3{
            font-size: 4.5vw;
        }
        .guideslide{
            width: 220%;
        }
        .guideslide li{
            width: 20vw;
            /* font-size: 1.1vw; */
            display: flex;
            flex-direction: column;
            /* justify-items: center; */
            justify-content: center;
        }
        .guidename{
            font-size: 2.5vw;
            
        }
        .guide-price{
            font-size: 2vw;
            margin: 1% 2.2%;
        }
        .exp{
            margin: 5% 2.5%;
            font-size: 2.5vw;
        }
        .tripcheck-weather-cont {
            min-width: 70vw;
            /* min-height: 12vw; */
            top: 20rem;
        }
        #tripname{
            font-size: 4vw;
            height: 4vw;
        }
        .temp{
            font-size: 2vw;
        }
        .clouds{
            font-size: 1.9vw;
        }
        .wind{
            font-size: 1.9vw;
        }
        .humidity{
            font-size: 1.9vw;
        }
        .astronomy{
            font-size: 1.9vw;
        }
        .forecast{
            font-size: 1.6vw;
        }
       
        #moreinfo{
            height: 10rem;
            font-size: 2vw;
         
        }
        #noofdays{
            height: 4vh;
            font-size: 3vw;
            width: 20vw;
        }
        #checkout{
            height: 4vh;
            font-size: 2.5vw;

        }
        .total-price{
            font-size: 3vw;
            font-weight: 700;
        }
        .hotel-guide-cont{
            font-size: 1.7vw;
            display: flex;
        }
        .locmap{
            height: 45vw;
        }
        .loginconfirm{
            font-size: 3vw;
        }
       
    }
}

@media screen and (min-width:480px) {
    @media screen and (max-width:700px) {
        html{
            font-size: 19.5%;
        }
        .destination-cover{display: none;}
        .search{
            margin-top: 20rem;
            top: 0rem;
            
            #search{
                font-size: 2.5vw;
                height: 4.5vw;
                box-shadow: 0rem 1rem 2rem;
            }
        }
         
        .checkedoutimg img{
            width: 60%;
        }
        .checkedoutimg section{
            font-size: 2.5vw;
        }
        #checkoutclose{
            font-size: 3vw;
            margin-left: 65%;
        }
        #closetripcheck{
            font-size: 3vw;
            left: 90%;
        }
        .searchbar{
            height:5vw;
            font-size: 3vw;
            width: 40vw;
            border-radius: 2vw;
            box-shadow: 0rem 1rem 3rem;
           
        }
        .searchlinks{
            width: 80%;
        }
        .searchlinks a{
            font-size: 4vw;
        }
       .wikipagebackbtn{
        font-size: 3.5vw;
        width: 20vw;
        margin: 0px 40vw;
        top: 20rem;
       }
       .wikipagecont{
        font-size: 3vw;
        width: 90%;
       }
        .place-name h3{
            font-size: 6vw;
        }
        .images-container{
            height: 80vh;
            display: block;
            width: 98%;
            left: 1%;
            overflow-x: scroll;

        }
        .image-slider{
            display: flex;
            flex-wrap: wrap;
            width: 262vw;
            height: 100%;
            align-items: center;

            .loc-img{
                width:48vw ;
                height:48% ;
                /* border-radius: 2vw; */
    
    
            }
            .loc-img img{
                /* border-radius: 2vw; */
            }
            .insta-model{
                width: 95%;
                list-style: none;
                font-size: 2rem;
                display: flex;
            }
            .insta-model li {
                font-size: 4.5rem;
                margin: 2rem;
                font-family: cursive;
            }
    

        }
        
        #search{
            margin-left: -20vw;
            height: 3.5vw;
            font-size: 1.5vw;
            border-radius: 2vw;
        }
        .ourservices{
            height: 100vh;

        }
        .ourservicesh2{
            font-size: 4vw;
        }
        .ourservices-slide{
            flex-wrap: wrap;
        }
        .service-cont{
            height: 48%;
            width: 45%;
            border-radius: 3vw;
        }

        .service-cont h4{
            font-size: 4vw;
        }
        .place-name h3{}
      
        #inputdates{
            height: 13vw;
            margin: 0;
            width: 100%;
            flex-direction: column;
            margin-bottom: 0.5vw;
            border-radius: 10vw;
        }
        .enterdate{
            height: 5.5vw;
            font-size: 2.8vw;
            padding: 0 20px;
            margin-bottom: 0.5vw;
            border-radius: 3vw;
        }
        #hotels{
            font-size: 2.5vw;
            /* border-radius: 3vw; */
        }
        #hotelload{
            height: 55%;
        }
        #hotelp{
            display: none;
        }
        #restaurant{
            display: none;
        }
        #rests{
            font-size: 2.5vw;
            position: relative;
            top: 15rem;
            /* border-radius: 3vw; */
        }
        #guides{
            display: none;
        }
        #details{
            font-size: 2.5vw;
            position: relative;
            top: 15rem;
            /* border-radius: 3vw; */
        }
        #touristload{
            width: 100%;
            margin: 0;

        }
        #restload{
            width: 100%;
            margin: 1% 0;

        }
        .notfound{
            font-size: 6rem;
        }
        .guide-cont{
            height: 40vw;
        }
        .guide-cont h3{
            font-size: 4.5vw;
        }
        .guideslide{
            width: 220%;
        }
        .guideslide li{
            width: 20vw;
            /* font-size: 1.1vw; */
            display: flex;
            flex-direction: column;
            /* justify-items: center; */
            justify-content: center;
        }
        .guidename{
            font-size: 2.5vw;
            
        }
        .guide-price{
            font-size: 2vw;
            margin: 1% 2.2%;
        }
        .exp{
            margin: 5% 2.5%;
            font-size: 2.5vw;
        }
        .tripcheck-weather-cont {
            min-width: 70vw;
            /* min-height: 12vw; */
            top: 20rem;
        }
        #tripname{
            font-size: 4vw;
            height: 4vw;
        }
        .temp{
            font-size: 2vw;
        }
        .clouds{
            font-size: 1.9vw;
        }
        .wind{
            font-size: 1.9vw;
        }
        .humidity{
            font-size: 1.9vw;
        }
        .astronomy{
            font-size: 1.9vw;
        }
        .forecast{
            font-size: 1.6vw;
        }
       
        #moreinfo{
            height: 10rem;
            font-size: 2vw;
         
        }
        #noofdays{
            height: 4vh;
            font-size: 3vw;
            width: 20vw;
        }
        #checkout{
            height: 4vh;
            font-size: 2.5vw;

        }
        .total-price{
            font-size: 3vw;
            font-weight: 700;
        }
        .hotel-guide-cont{
            font-size: 2.2vw;
            display: flex;
        }
        .locmap{
            height: 45vw;
        }
        .loginconfirm{
            font-size: 3vw;
        }
       
    }
}

@media screen and (min-width:300px) {
    @media screen and (max-width:480px) {
       .destination-cover{
        display: block;
        width: 100vw;
    height: 14vw;
    position: absolute;
    background-color: aquamarine;
       }
       .destination-cover img{
        width: 100%;
       }
        .checkedoutimg{
            flex-direction: column;
            height: 50vh;
        }
        .checkedoutimg section{
            font-size: 4vw;
            margin: 10px;
        }
        .checkedoutimg h2{
            font-size: 5vw;
            margin: 10px;
        }
        .checkedoutimg img{
            width: 100%;
        }
        #checkoutclose{
            font-size: 4vw;
            margin-left: 80%;
        }
        #closetripcheck{
            font-size: 4vw;
            margin-left: -7%;
        }
        .searchbar{
            width: 50vw;
            height: 8vw;
            font-size: 4vw;
            border-radius: 5vw;
        }
        #search{
            height: 6vw;
            width: 15vw;
            border-radius: 3vw;
            margin-left: -5vw;
        }
        .place-name{
            top: 8vw;
        }
        .place-name h3{
            margin: 2rem;
            font-size: 12vw;
        }
        .searchlinks{
            width: 80%;
        }
        .searchlinks a{
            font-size: 4.5vw;
        }
        .wikipagecont{
            width: 98vw;
            padding-left: 15vw;
            font-size: 3.8vw;
        }
        .wikipagebackbtn{
            width: 20vw;
            margin: 0px 40vw;
            font-size: 4vw;
        }
        .mw-content-ltr mw-parser-output{
            width: 98vw;
        }
        .images-container{
            margin: 1vw;
            height: 75vh;
            width: 98vw;
            overflow-x: scroll;
            display: block;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
        }
        .images-container::-webkit-scrollbar{
            height: 2vw;
            width: 70vw;
            margin: auto;
            display: none;
        }
        .images-container::-webkit-scrollbar-track{
           width: 60vw;
           /* margin: auto; */
           /* height: 1.5vw; */
           background: linear-gradient(to right, #113035, #a7cb8e,#f3a332);
           background-color: linear-gradient(to right, #113035, #a7cb8e);
           border-radius: 2vw;
           border: none;
        }
        .images-container::-webkit-scrollbar-thumb{
            /* background: linear-gradient(to right,#f3a332,#a7cb8e, #113035, ); */
            background-color:#f3a332;
            border-radius: 2vw
        }
        .image-slider{
            height: 95%;
            width: 500vw;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
        }

        .images-container{
            .loc-img{
                width: 98vw;
                scroll-snap-align: start;
                margin-right: 0;
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-items: center;
                justify-content: flex-start;
                background-color: whitesmoke;
    
            }
           
            .loc-img img{
                /* border-radius: 4vw; */
                width: 90%;
                height: 85%;
                margin-top: 2vw;
            }
            .loc-img:hover{
                width: 100vw;
                height: 50%;
            }
            .insta-model{
                width: 91%;
                list-style: none;
                font-size: 2rem;
                display: flex;
            }
            .insta-model li {
                font-size: 6rem;
                margin: 2rem;
                font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600
            }
           
        }
        .ourservicesh2{
             font-size: 6.5vw;   
        }
        .ourservices{
            width: 96vw;
            height: 60vh;
            overflow-x: scroll;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
            margin: auto;
            top: 0rem;
            border-radius: 3vw;
            border: 1vw solid;
        }
     
        .service-cont{
            width: 96vw;
            /* border-radius: 3vw; */
            scroll-snap-align: start;
            box-shadow: 0vw 0vw 0vw ;
            /* box-shadow: 2vw 0vw 4vw inset black; */
            /* margin: 0 1vw; */
        }
        .ourservices-slide{
            height: 100%;
            display: flex;
            width: 300vw;
        
        }
        .service-cont h4{
            font-size: 8vw;
        }
        #hotelload{
            height: 60%;

        }
        #restload{
            height: 60%;
        }
        #touristload{
            height: 60%;
        }
        #inputdates{
            width: 95%;
            height: 12vw;
            font-size: 3.5vw;
        }
        #inputdates input{
            font-size: 3.5vw;
            height: 10vw;
            width: 42vw;
            border-radius: 5vw;
        }
        #hotels{
            font-size: 4.5vw;
            top: 1vw;
            border-radius: 2vw;
            letter-spacing: 0.5vw;
        }
        .service-cont p {
            font-size: 4vw;
            display: none;
        }
        #rests{
            letter-spacing: 0.5vw;
            font-size: 4.5vw;
            position: relative;
            top: 13vw;
            border-radius: 2vw;
        }
        #restaurant{
            top: 12vw;
            letter-spacing: 0.5vw;
        }
        #details{
            font-size: 4.5vw;
            position: relative;
            top: 13vw;
            border-radius: 2vw;
            letter-spacing: 0.5vw;
        }
        .notfound{
            font-size: 7rem;
        }
        #guides{
            top: 12vw;
        }
        .service-nav{
          
    margin:6vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
        }
        .service-nav a{
            font-size: 4.5vw;
            text-decoration: none;
            font-family: monospace;
            /* margin-right: 4vw; */
            box-shadow: 1vw 1vw 3vw;
            padding: 1.5vw;
            box-sizing: border-box;
            animation: servicenav-btn-border 10s infinite ease;
        }
        @keyframes servicenav-btn-border {
            0%{
                border-radius: 0vw 3vw 3vw 3vw;
            }
            25%{
                border-radius: 3vw 0vw 3vw 3vw
            }
            50%{
                border-radius: 3vw 3vw 0vw 3vw
            }
            75%{
                border-radius: 3vw 3vw 3vw 0vw
            }
            100%{
                border-radius: 0vw 3vw 3vw 3vw
            }
        }
        .ourservices ::-webkit-scrollbar{
            height: 2vw;

        }
        .ourservices ::-webkit-scrollbar-track{
            background: linear-gradient(to right, #113035, #a7cb8e,#f3a332);
            background-color: linear-gradient(to right, #113035, #a7cb8e);
            border-radius: 2vw;
            border: none;
        }
        .guideslide{
            width: 480vw;
        }
        .guide-cont{
            height: 80vw;
            top: 10rem;
            /* box-shadow: 1vw -1vw 4vw inset; */
            border-radius: 3vw;
        }
        .guideslide li{
            width: 40vw;
        }
        .guidename{
            height: 5vw;
            font-size: 4vw;
        }
        .exp{
            height: 5vw;
            font-size: 4vw;
        }
        .guide-price{
            font-size: 3.5vw;
        }
        .guide-cont h3{
            font-size: 6vw;
        }
        .locmap{
            height: 45vh;
        }
        .tripcheck-weather-cont{
            min-height: 40vw;
            top: 15vw;
            min-width: 90%;
        }
        .temp{
            font-size: 3vw;

        }
        .clouds{
            font-size: 3vw;
        }
        .wind{
            font-size: 3vw;

        }
        .humidity{
            font-size: 3vw;
        }
        .astronomy{
            font-size: 3vw;
        }
        #moreinfo{
            font-size: 3vw;
        }
        .forecast{
            font-size: 3vw;
        }
        .price-checkout-cont{
            flex-direction: column;
        }
        .currentweather{
            min-height: 35vw;
        }
        #noofdays{
            width: 28vw;
            font-size: 4vw;
            height: 6.5vw;
            margin-bottom: 1vw;
        }
        #checkout{
            font-size: 4vw;
            height: 7.5vw;
            margin-bottom: 1vw;
        }
        .total-price{
            font-size: 4vw;
            height: 8vw;
            margin-bottom: 1vw;

        }
        .hotel-guide-cont{
            font-size: 3.5vw;
            display: none;
        }

        .hotels{
            width: 100%;
            height: 40vw;
            margin: 3% 0;
            display: grid;
            grid-template-columns: 50% 50%;
        }
        .restimg{
            width: 40vw;
            grid-row:1/3;
        }
        .hotelname{
            width: 90%;
            font-size: 5vw;
        }
        .hotelprice{
            width: 90%;
            font-size: 4.5vw;
        }
        .restaurant{
            width:100%;
            height: 40vw;
            margin: 3% 0;
        }
        .restimg{
            width: 50vw;
        }
        .restname{
            font-size: 4vw;
            margin-bottom: 2vw;
        }
        .rating{
            font-size: 4vw;
            margin-bottom: 2vw;
        }
        .webpage{
            font-size: 4vw;
            margin-bottom: 2vw;
           
        }
        .tourspot{
            width: 100%;
            height: 40vw;
            margin: 3% 0;
        }
        .tourspottitle{
            font-size: 6vw;
        }
        .wikidata{
            font-size: 5vw;
        }
        .maps{
            font-size: 5vw;
        }
        .design-back{
            box-shadow: 0vw 0vw 4vw inset;
            width: 100vw;
            display: none;
        }

        .design-div{
            display: none;
        }
        .loginconfirm{
            font-size: 3vw;
        }

    }
}